.formulario-add-movie input {
  border: 3px solid #00c9c8;
  height: 40px;
  border-radius: 4px;
  outline: none;
  width: 100%;
  box-shadow: 4px 4px 8px -6px rgba(0, 0, 0, 0.75);
  text-align: center;
  font-size: 1rem;
}

button.create {
  width: 160px;
  height: 45px;
  background-color: #00c9c8;
  box-shadow: 4px 4px 8px -6px rgba(0, 0, 0, 0.75);
  font-weight: 700;
  font-size: 1.1rem;
  color: #000;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
}

.formulario-add-movie .attach-button {
  width: 100%;
  height: 45px;
  background: #fffefe;
  border-radius: 6px;
  border: 3px solid #00c9c8;
  padding: 5px;
  font-size: 1rem;
  transition: all 0.2s;
  justify-content: center;
  display: flex;
  align-items: center;
}

.formulario-add-movie .attach-button:active,
button.create:active {
  background-color: #008a89;
  border: 3px solid #008a89;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.formulario-add-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  gap: 28px;
  padding: 30px;
  flex: 1;
}

.container-add-movie {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  border: 5px solid #dcdcdc;
  border-radius: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  flex-wrap: wrap;
}
.container-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  gap: 28px;
  padding: 30px;
  flex: 1;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-weight: 700;
  font-size: 1.4rem;
}

.file-label {
  position: relative;
  display: inline-block;
}

.file-label input[type="file"] {
  opacity: 0;
  display: none;
  cursor: pointer;
}
.card-preview {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5px;
  justify-content: space-around;
  padding: 20px;
  border: #dcdcdc 3px solid;
  flex-wrap: wrap;
}
.card-movie-img {
  max-width: 25vw;
  height: auto;
  border-radius: 4px;
}

@media only screen and (max-width: 992px) {
  .titulo-add-movie {
    width: 80vw;
  }

  .input-add-movies {
    width: 80vw;
  }

  .button-add-movie {
    width: 40vw;
  }
  .container-preview,
  .formulario-add-movie {
    padding: 0px 15px;
  }
  .container-add-movie,
  .container-preview {
    padding-top: 10px;
  }
}
