.container-home-card {
    
--auto-grid-min-size: 14rem;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  margin: 5px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}

.card-container-search-movies {
    
  display: flex;
  align-items: center;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  flex-direction: column;
}


.button-search-detail{
    background-color: black;
    color: white;
}

.img-search-movies {
    width: 100%;
    border-color: rgb(25, 0, 255);
}


.titleRecommendedMovies{
    margin-left: 20px;

}