.admin-title {
  margin: 30px;
  height: 700;
  color: black;
}

.admin-panel {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  flex: 1;
  margin-bottom: 5vh;
}

.admin-container {
  width: 70%;
  margin: auto;
}
